.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #4c0f9c 0%, #3a1958 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button {
  background: rgb(174, 197, 241);
  border: none;
  padding: 10px 20px;
  color: rgb(22, 24, 24);
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
